@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--soft-blue: hsl(215, 51%, 70%);
	--cyan: hsl(178, 100%, 50%);
	--main-bg: hsl(217, 54%, 11%);
	--card-bg: hsl(216, 50%, 16%);
	--line: hsl(215, 32%, 27%);
	--white: hsl(0, 0%, 100%);
}
a {
	text-decoration: none;
}
.card-img img {
	width: 100%;
}
body {
	height: 100vh;
	background-color: var(--main-bg);
	font-family: "Outfit", sans-serif;
	display: grid;
	place-items: center;
}
h2 {
	margin: 0.7em 0;
	font-weight: 600;
}
h2 a {
	color: var(--white);
}
h2 a:hover {
	color: var(--cyan);
}
.card {
	margin: 1em;
	max-width: 22em;
	background-color: var(--card-bg);
	padding: 1.5em;
	border-radius: 1em;
}
.card-img {
	position: relative;
	border-radius: 0.7em;
	overflow: hidden;
}
.card-content p {
	color: var(--soft-blue);
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 1em;
	line-height: 1.5;
}

.card-img:hover .overlay {
	display: block;
	cursor: pointer;
}
.overlay {
	position: absolute;
	inset: 0;
	background-color: hsla(178, 100%, 50%, 0.3);
	display: none;
}
#on-hover {
	position: absolute;
	width: 15%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1em;
}
.eth,
.time {
	display: flex;
	align-items: center;
}
.eth span {
	color: var(--cyan);
	font-weight: 400;
	margin-left: 0.5em;
}
.time span {
	color: var(--soft-blue);
	font-weight: 400;
	margin-left: 0.5em;
}

.card-footer {
	display: flex;
	align-items: center;

	border-top: 1px solid var(--line);
	padding-top: 1em;
}
.card-footer p span {
	color: var(--soft-blue);
	margin-left: 0.7em;
	margin-right: 0.2em;
}
.card-footer p a {
	color: var(--white);
}
.card-footer p a:hover {
	color: var(--cyan);
}
.card-footer img {
	width: 10%;
	border: 1px solid var(--white);
	border-radius: 50px;
}
